<form class='text-align-center margin-bot-20' name='uploadForm'>
  <div class='margin-bot-20'>
    <button class='btn' ngf-select ng-model="files" ngf-accept="'image/*'" ngf-pattern="'image/*'" ngf-max-total-size="20MB" ngf-multiple="true"  ngf-model-invalid="errorFiles" name='file'>
      Select Images
    </button>
    <input ng-model='albumName' placeholder='(optional) Album Name'>
    <input ng-disabled='!files.length' type='submit' value='Start Upload' ng-click='submit()'>
  </div>

  <i ng-show="uploadForm.file.$error.maxTotalSize" class='text-danger'>Total file size too large. Max 20MB. 
    <span ng-show='files.length'>Each of the following images added together are smaller than 20MB.</span>
  </i>

  <div ng-show='files.length'>
    <span class=''>
      <label class='checkbox-inline'>
        <input type='checkbox' ng-model='isPublic' ng-init='isPublic=true' >public
      </label>
    </span>
  </div>
  <ul ng-repeat='file in files' class='sample-show-hide'>
    <li>
      <img ngf-thumbnail="file" class="thumb margin-right-10">
        <input ng-model='file.title' placeholder='title'></input>
        <input ng-model='file.description' placeholder='description'></input>  
      <button class='btn' ng-click="remove(file)">Remove</button>
    </li>
  </ul>
  <span class="progress-display" ng-show="progress" >
    <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
  </span>
  <div>
    <span>{{successMsg}}</span>
    <span>{{errorMsg}}</span>
  </div>
  
  
</form>
