<form name='register' class="form-signin" novalidate>
  <h1 class="form-signin-heading text-muted">Register</h1>
  <input type="text" class="form-control" ng-model='user.email' placeholder="Email address" required="" autofocus="">
  <input type="text" class="form-control" ng-model='user.username' placeholder="User Name" required="" autofocus="">
  <input type="password" class="form-control" ng-model='user.password' placeholder="Password" required="">
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click='submit(user)'>
    Submit
  </button>
</form>



<!-- <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" placeholder="Email" ng-model='user.email'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Username" ng-model='user.username'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" placeholder="Password" ng-model='user.password'>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click='signUp(user)' class="btn btn-default">Sign Up</button>
    </div>
  </div>
</form>

<div class='text-align-center'>{{status}}</div> -->